{{ define "header" }}
  <header class="header-section ">
    {{ if .Params.breadcrumbs }}
      <!--  breadcrumbs -->
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ $pathItems := split $url "/" }}
      {{ $lastItemIndex := sub (len $pathItems) 2 }}
      {{ $.Scratch.Set "path" .Site.BaseURL }}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="float: left">
          <li><a href="/">home</a></li>
          {{ range $index, $element := $pathItems }}
            {{ $.Scratch.Add "path" $element }}        
            {{ if and (ne $element "") (ne $element "page") }}
              {{ if ne $lastItemIndex $index}}
                <li><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
              {{ else }}
                <li>{{ . }}</li>
              {{ end }}
            {{ end }}
            {{ $.Scratch.Add "path" "/" }}
          {{ end }}
        </ol>
      </nav>
      <!--  breadcrumbs -->
    {{ end }}    
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ if not .Params.draft -}}
              <article class="post-preview">
                <a href="{{ .Permalink }}">
                  <h2 class="post-title">{{ .Title }}</h2>
      
                  {{ if .Params.subtitle }}
                    <h3 class="post-subtitle">
                      {{ .Params.subtitle }}
                    </h3>
                  {{ end }}
                </a>
      
                <p class="post-meta">
                  {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
                  {{ if .Params.author -}}
                    - {{ .Params.author | i18n "writtenBy" }}
                  {{- end }}                
                </p>
                <div class="post-entry">
                  {{ if .Truncated }}
                    {{ .Summary }}
                    <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                  {{ else }}
                    {{ .Content }}
                  {{ end }}
                </div>
      
                {{ if .Params.tags }}
                  <span class="post-meta">
                    {{ range .Params.tags }}
                      #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                    {{ end }}
                  </span>
                {{ end }}
      
              </article>
            {{ end }}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

